@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;800&display=swap');


.container {
  font-family: 'League Spartan', sans-serif;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo {
  font-family: 'League Spartan', sans-serif;
  color: #e91e63;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form input {
  font-family: 'League Spartan', sans-serif;
  width: 280px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background-color: #EDEDED;
  outline: none;
}

/* senha com olhinho */
.passwordField {
  position: relative;
}

.passwordField span {
  position: absolute;
  right: 10px;
  top: 12px;
  cursor: pointer;
  color: #555;
}

.btn {
  font-family: 'League Spartan', sans-serif;
  margin-top: 10px;
  padding: 12px;
  border: none;
  border-radius: 25px;
  background-color: #e91e63;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

/* divisor */
.divider {
  display: flex;
  align-items: center;
  width: 280px;
  margin: 15px 0;
}

.divider span {
  flex: 1;
  height: 1px;
  background-color: #999;
}

.divider p {
  margin: 0 10px;
  color: #666;
}

/* redes */
.social {
  display: flex;
  gap: 20px;
}

.social img {
  width: 30px;
  cursor: pointer;
}

/* mensagens */
.success {
  color: green;
  margin-bottom: 10px;
}

.error {
  color: red;
  margin-bottom: 10px;
}