.container {
  height: 100vh;
  width: 100%;
  background-color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  max-width: 300px;
  text-align: center;
}

.titulo {
  color: #e91e63;
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.form input {
  padding: 15px;
  border-radius: 12px;
  border: none;
  background-color: #E5E5E5;
  font-size: 12px;
  outline: none;
  font-family: 'League Spartan', sans-serif;
  font-weight: 600;
}

.btn {
  margin-top: 10px;
  padding: 15px;
  border: none;
  border-radius: 25px;
  background-color: #e91e63;
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #d81b60;
}

.divider {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.divider span {
  flex: 1;
  height: 1px;
  background-color: #999;
}

.divider p {
  margin: 0 10px;
  color: #666;
}

.social {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social img {
  width: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.social img:hover {
  transform: scale(1.1);
}

.success {
  background-color: #fce4ec; /* rosa bem claro */
  color: #c2185b; /* rosa forte */
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 14px;
}

.error {
  background-color: #fdecea; /* levemente avermelhado */
  color: #b71c1c; /* vermelho mais elegante */
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 14px;
}