
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600;700&display=swap');

.home {
  width: 100%;
  min-height: 100vh;
}
 
.hero {
  min-height: calc(100vh - 120px);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 80px 20px; 

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
  overflow: hidden;
}
 
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 240, 245, 0.72);
  z-index: 1;
}
 
.heroContainer {
  padding-top: 120px;
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 110px 40px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  position: relative;
  z-index: 2;
}
 
.heroImg {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.heroImg img {
  width: 100%;
  max-width: 200px;
  height: auto;
  display: block;
  object-fit: contain;
}
 
.heroText {
  align-items: center;
  flex: 1;
  max-width: 520px;
  color: #c21872;
  text-align: center; 
}
 
.heroText h1 {
  font-size: 2.6rem;
  line-height: 1.1;
  font-weight: 800;
  margin-bottom: 16px;
}
 
.heroText p {
  align-items: center;
  max-width: 420px; 
  font-size: 0.95rem;
  line-height: 1.5;
  color: #8e3d63;
  font-weight: 500;
}
 
@media (max-width: 992px) {

  .heroContainer {
    max-width: 960px;
    padding: 100px 32px 50px;
    gap: 35px;
  }
 
  .heroImg img {
    max-width: 200px;
  }
 
  .heroText h1 {
    font-size: 2.1rem;
  }
 
  .heroText p {
    font-size: 0.98rem;
  }

}
 
@media (max-width: 768px) {

  .heroContainer {
    min-height: auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 110px 24px 50px;
    gap: 24px;
  }
 
  .heroText {
    max-width: 100%;
  }
 
  .heroImg img {
    max-width: 200px;
  }
 
  .heroText h1 {
    font-size: 1.8rem;

  }
 
  .heroText p {
    font-size: 0.95rem;
    line-height: 1.6;
  }

}
 
@media (max-width: 480px) {

  .heroContainer {
    padding: 100px 18px 40px;
    gap: 20px;
  }
 
  .heroImg img {
    max-width: 190px;
  }
 
  .heroText h1 {
    font-size: 1.45rem;
    line-height: 1.2;
  }
 
  .heroText p {
    font-size: 0.9rem;
  }

}
 












/* PADRÃO DAS SECTIONS */
.sectionBaby,
.sectionFeatures,
.sectionArtigos {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 20px;
}

.sectionContent {
  max-width: 800px;
  text-align: center;
}

.sectionContent h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
  font-weight: 700;
}

.sectionContent p {
  font-size: 1rem;
  line-height: 1.6;
}
/* CONTEÚDO CENTRAL (mantido para outras sections) */









.sectionBaby {
  background-color: #ffffff;
  color: #c21872;
}

.babyContainer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.babyTitle {
  font-size: 2.0rem;
  font-weight: 700;
  margin-bottom: 60px;
}

.babyContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.babyImg img {
 width: 180px !important;
 max-width: 100px; 
}

.babyCards {
  display: flex;
  flex-direction: column;
  gap: 20px; 
}

.card {
  background: #FFF3F5;
  padding: 16px 20px;
  border-radius: 14px;
  width: 420px;
  max-width: 100%;
  text-align: left;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06); 
}

.card h3 {
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.card p {
  font-size: 0.95rem;
  color: #555;
  line-height: 1.5;
}

@media (max-width: 900px) {
  .babyContent {
    flex-direction: column;
    gap: 40px;
  }

  .babyImg img {
    max-width: 220px;
  }

  .card {
    max-width: 50%;
  }
}

.card:hover {
  transform: translateY(-3px);
  transition: 0.4s;
}









.sectionFeatures {
  width: 100%;
  min-height: 100vh;
  background-color:#ffffff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.containerFeatures {
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  gap: 40px;
  z-index: 2;
}

.featureItem {
  flex: 1;
  max-width: 320px;
}

.featureItem img {
  width: 90px;
  margin-bottom: 5px;
}

.featureItem h3 {
  font-size: 1.2rem;
  color: #DA1D6B;
  font-weight: 700;
  margin-bottom: 10px;
  white-space: nowrap;
}

.featureItem p {
  font-size: 0.9rem;
  color: #444;
  line-height: 1.5;
}

.nuvens {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 0;
  z-index: 1;
}

.nuvens svg {
  width: 100%;
  height: 220px; /* um pouco maior pra mostrar mais detalhe */
  display: block;
}













.sectionArtigos {
  background-color: #FDE1E2; 
  color: #c21872;
}

.artigosContainer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.artigosTitle {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 60px;
}

.artigosGrid {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.artigoCard {
  width: 260px;
  background: transparent;
  text-align: left;
}

.artigoCard img {
  width: 100%;
  border-radius: 16px;
  margin-bottom: 15px;

  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
}

.artigoCard h3 {
  font-size: 0.8rem;
  color: #d81b60;
  font-weight: 700;
  margin-bottom: 8px;
}

.artigoCard p {
  font-size: 0.9rem;
  color: #444;
  line-height: 1.4;
  transition: 0.3s;
}

.artigoCard p:hover {
   text-decoration: underline;
}


/* RESPONSIVO */
@media (max-width: 900px) {
  .artigosGrid {
    flex-direction: column;
    align-items: center;
  }
}












