@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600;700&display=swap');

.home {
  min-height: 100vh;
  width: 100%;
  padding-top: 120px; /* espaço da navbar */
  display: flex;
  justify-content: center;
  align-items: center;

  /* fundo */
  background-image: url('../../assets/home/imghome/imgbackground.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* container principal */
.container {
  width: 80%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* imagem esquerda */
.image img {
  width: 350px;
  max-width: 100%;
}

/* texto direita */
.text {
  max-width: 500px;
  text-align: left;
}

.text h1 {
  font-size: 42px;
  color: #d81b60;
  line-height: 1.2;
}

.text p {
  margin-top: 20px;
  font-size: 16px;
  color: #d81b60;
  line-height: 1.5;
}