.footer {
  width: 100%;
  background-color: #ffffff;
  padding: 50px 20px 20px;   display: flex;
  flex-direction: column;
  align-items: center;
}

/* Container geral */
.container {
  max-width: 1200px;
  margin: 0 auto; /* ESSENCIAL */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LEFT (LOGO) */
.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: start;
  margin-right: 90px; /* aumenta espaço entre logo e links */
}

.logo {
  width: 180px; /* maior que os botões */
  margin-bottom: 12px;
}

.stores {
  display: flex;
  gap: 10px;
}

.storeIcon {
  width: 70px; /* menor que a logo */
  cursor: pointer;
}

/* LINKS CENTRALIZADOS */
.links {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.links div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.links h4 {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 8px;
}

.links a {
  text-decoration: none;
  color: #000;
  font-size: 12px;
  margin-bottom: 5px;
  transition: 0.3s;
}

.links a:hover {
  text-decoration: underline;
}

/* BOTTOM */
.bottom {
  margin-top: 40px;
  font-size: 12px;
  text-align: center;
}