.footer {
  width: 100%;
  background: #FFD8DC; /* cor do footer */
  padding: 0 0 20px; /* remove espaço acima da onda */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* 🌊 ONDA */
.footerWave {
  width: 100%;
  height: 120px;
  display: block;
  margin-bottom: -1px; /* remove linha branca */
}

/* Container geral */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 50px; /* espaço depois da onda */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LEFT (LOGO) */
.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 90px;
}

.logo {
  width: 180px;
  margin-bottom: 12px;
}

.stores {
  display: flex;
  gap: 10px;
}

.storeIcon {
  width: 70px;
  cursor: pointer;
}

/* LINKS */
.links {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.links div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.links h4 {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 8px;
}

.links a {
  text-decoration: none;
  color: #000;
  font-size: 12px;
  margin-bottom: 5px;
  transition: 0.3s;
}

.links a:hover {
  text-decoration: underline;
}

/* BOTTOM */
.bottom {
  margin-top: 40px;
  font-size: 12px;
  text-align: center;
}