@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700;800&display=swap'); 

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
}
 
.container {
  width: min(1100px, 90%); 
  margin-top: 60px;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  border-radius: 999px;
  padding: 18px 24px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 6px 18px rgba(184, 70, 120, 0.12);
}
 
.links {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 60px;
}

.links a {
  text-decoration: none;
  color: #DA1D6B;
  font-size: 19px;
  font-weight: 700;

  transition: all 0.2s ease;
}

.links a:hover {
  filter: brightness(1.15);
}

.button a {
  text-decoration: none;
  background: linear-gradient(90deg, #ff4fa0, #d81b78);
  color: #fff;
  padding: 10px 20px;
  border-radius: 999px;
  font-size: 17px;
  font-weight: 700;

  transition: all 0.2s ease;
}

.button a:hover {
  filter: brightness(1.05); /* levemente mais claro */
}